---
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
import Intro from "../components/Intro.astro";
import Navbar from "../components/Navbar.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Santiago Zaidan - Portafolio personal">
  <main class="w-5/6 sm:w-2/3 lg:w-1/2 mx-auto text-balance">
    <Navbar />
    <Intro />
    <Education />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>
