<section id="sobre-mi" class="mt-[25%] mb-10">
  <img
    src=""
    alt="Profile photo"
  />
  <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 flex gap-4">
    Santiago Zaidan
    <a href="#" class="flex justify-center items-center"
      ><span
        class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-sky-800 text-sky-100/80"
        >Disponible para trabajar</span
      ></a
    >
  </h1>
  <h2>
    <!-- TODO: texts with colors based in the profile photo -->
    <span class="text-orange-400">Desarrollador full-stack.</span>
    <span class="text-orange-300"
      >Buscando constantemente mejorar mis habilidades.</span
    >
    <span class="text-orange-500"
      >Aportando valor a todo tipo de productos digitales.</span
    >
  </h2>
</section>
