<header
  class="flex justify-center items-center mx-auto sticky top-2 w-full z-10"
>
  <nav
    class="rounded-full px-3 py-1 flex flex-row items-center backdrop-blur-2xl bg-[var(--bgColor)]"
  >
    <a
      href="#sobre-mi"
      class="rounded-full px-3 transition"
      >Sobre mí</a
    >
    <a
      href="#educacion"
      class="rounded-full px-3 transition"
      >Educación</a
    >
    <a
      href="#proyectos"
      class="rounded-full px-3 transition"
      >Proyectos</a
    >
    <a
      href="#contacto"
      class="rounded-full px-3 transition"
      >Contacto</a
    >
  </nav>
</header>

<style>
  nav a:hover {
    background: var(--secondaryColor);
  }
</style>
