<nav class="w-full mx-auto">
    <ul class="w-max mx-auto px-6 py-1 flex justify-center gap-2 rounded-full bg-[var(--bgColor)]">
        <li class="transition">Sobre mí</li>
        <li class="transition">Experiencia</li>
        <li class="transition">Educación</li>
        <li class="transition">Proyectos</li>
    </ul>
</nav>

<style>
    ul li {
        padding: 1px 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    ul li:hover {
        background: var(--secondaryColor);
    }
</style>