---
import Project from "./Project.astro";
import projects from "../../projects.json";
---

<section id="proyectos">
  <h2 class="text-xl sm:text-2xl mb-4">Proyectos</h2>
  <div class="w-full flex flex-wrap gap-4 justify-between">
  {
    projects.map((project) => (
      <Project
        title={project.title}
        description={project.description}
        technologies={project.technologies}
      />
    ))
  }
  </div>
</section>
