---
const { title, description, technologies } = Astro.props;
---

<article class="w-full sm:w-[calc(50%-0.5rem)]">
  <div class="card">
    <div class="container-title">
      <div class="bar left-bar"></div>
      <div class="bar right-bar"></div>
      <h3>{title}</h3>
    </div>
    <div class="container-description">
      <p>{description}</p>
      <ul class="flex gap-1 flex-wrap mt-2">
        {
          technologies &&
            technologies.map((tech: string) => (
              <li>
                <span class="badge px-2 py-1 text-slate-900 font-bold rounded-lg text-[10px]">
                  {tech}
                </span>
              </li>
            ))
        }
      </ul>
    </div>
    <div class="container-link">
      <a href="google.com"><span>{"->"}</span></a>
    </div>
  </div>
</article>

<style>
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 16/9;
    padding: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.023);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
  }

  .card:hover {
    .bar {
      height: 60%;
      color: #ccc;
      opacity: 40%;
      -webkit-box-shadow: 0px 0px 119px 16px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: 0px 0px 119px 16px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 0px 119px 16px rgba(255, 255, 255, 0.1);
    }

    .container-title h3 {
      top: 15%;
    }

    .container-description {
      top: 30%;
      opacity: 1;
    }

    .container-description .badge {
      background-color: #a9cbdf;
      color: #333;
    }

    .container-link {
      opacity: 100%;
    }
  }

  .container-title {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .container-title h3 {
    position: absolute;
    top: 50%;
    text-wrap: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
  }

  .bar {
    width: 2px;
    height: 40%;
    background-color: #aaa;
    border-radius: 2px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  .left-bar {
    top: 20%;
    left: 10%;
  }

  .right-bar {
    bottom: 20%;
    right: 10%;
  }

  .container-description {
    font-size: 14px;
    position: absolute;
    left: 30%;
    width: 40%;
    top: 100%;
    opacity: 0;
    transition: all 0.8s;
  }

  .container-description p {
    color: #ccc;
  }

  .container-description .badge {
    background-color: #ffffff80;
    transition: all 0.5s ease-out 0.3s;
  }

  .container-link {
    cursor: pointer;
    position: absolute;
    width: 8%;
    text-align: center;
    bottom: 0;
    right: 0;
    opacity: 0%;
    color: #ccc;
    background: rgba(100, 100, 100, 0.3);
    transition: all .5s ease;
    border-radius: 5px 0px 0px;
  }
</style>
