---
const { title, description, technologies } = Astro.props;
---

<article class="w-full">
  <h3>{title}</h3>
  <p>{description}</p>
  <ul>
    {
      technologies &&
        technologies.map((tech: string) => (
          <li>
            <span>{tech}</span>
          </li>
        ))
    }
  </ul>
</article>
